<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="eStoreWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<!--<section name="slf" type="Slf.Config.SlfConfigurationSection, slf"/>-->
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<!--<slf>
		<factories>
			--><!-- configure single NLog factory, which will get all logging output --><!--
			--><!-- Important: Set a reference to the NLog facade library to make sure it will be available at runtime --><!--
			<factory type="SLF.NLogFacade.NLogLoggerFactory, SLF.NLogFacade"/>
		</factories>
	</slf>-->
	<nlog autoReload="true" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="logDirectory" value="${basedir}/logs"/>
		<targets>
			<!--  NLog uses the concept of targets to indicate where log messages are written to.
            Targets can be files, the console, databases, SMTP and much more. This example
            defines a couple of different targets
      -->
			<target name="common-file" xsi:type="File" layout="${longdate} ${aspnet-sessionid} ${threadid} ${machinename} ${level} ${message}" fileName="${logDirectory}/estoreadmin.out.${shortdate}.log"/>
			<target name="data-access-file" xsi:type="File" layout="${longdate} ${aspnet-sessionid} ${threadid} ${machinename} ${level} ${message}" fileName="${logDirectory}/log-data-access.${shortdate}.log"/>
			<target name="error-file" xsi:type="File" layout="${longdate} ${aspnet-sessionid} ${threadid} ${machinename} ${level} ${message}" fileName="${logDirectory}/estoreadmin.err.${shortdate}.log"/>
			<!--Must have machineName setting or it won't work. Setting it to "." is local machine-->
			<target name="eventlog" log="" xsi:type="EventLog" layout="Timestamp:${longdate}${newline}Session ID:${aspnet-sessionid}${newline}Thread ID:${threadid}${newline}Machine Name:${machinename}${newline}Level:${level}${newline}Message:${message}${newline}CallSite:${callsite}" machineName="."/>
			<target name="auditlog" xsi:type="Database" dbProvider="sqlserver" commandText="exec uspAuditEventAdd @ErrorNum, @StoreName, @TypeID, @CreatedDate, @EndDate, @Data1, @Data2, @Data3, @Data4, @Status, @LongData" dbHost="PHEONIX\PHEONIX" dbDatabase="eStore" dbUserName="eStoreUser" dbPassword="bond007">
				<parameter name="@ErrorNum" layout="${event-context:item=ErrorNum}"/>
				<parameter name="@StoreName" layout="${event-context:item=StoreName}"/>
				<parameter name="@TypeID" layout="${event-context:item=TypeID}"/>
				<parameter name="@CreatedDate" layout="${event-context:item=CreatedDate}"/>
				<parameter name="@EndDate" layout="${event-context:item=EndDate}"/>
				<parameter name="@Data1" layout="${event-context:item=Data1}"/>
				<parameter name="@Data2" layout="${event-context:item=Data2}"/>
				<parameter name="@Data3" layout="${event-context:item=Data3}"/>
				<parameter name="@Data4" layout="${event-context:item=Data4}"/>
				<parameter name="@Status" layout="${event-context:item=Status}"/>
				<parameter name="@LongData" layout="${event-context:item=LongData}"/>
			</target>
		</targets>
		<rules>
			<!-- only log WARN level messages or higher for loggers with the given name (or child loggers
             in the hierachy. Note the use of the 'final' attribute, if this is not present, NLog will continue
             to match logger names, resulting in our DataAccess messages appearing in the log-common.txt
             logfile also.
             NOTE: rules are evaluated in order, hence the more specific rules (with the more specific logger names)
             should appear at the start of this rule declaration.
        -->
			<logger name="TraceLogger" minlevel="Trace" final="true" writeTo="common-file"/>
			<logger name="DataAccess.*" minlevel="Trace" final="true" writeTo="data-access-file"/>
			<logger name="TraceFileAndEventLogger" minlevel="Trace" final="true" writeTo="common-file,eventlog"/>
			<logger name="ErrorLogger" minlevel="Error" final="true" writeTo="error-file,eventlog"/>
			<logger name="AuditLogger" minlevel="Trace" final="true" writeTo="auditlog"/>
			<!--  the logger element is used to identify a set of loggers which are used within the 
              application code. Within these elements it is possible to identify the target
              that writes messages sent to this logger, and specify a filter on the log level.
        -->
			<logger name="*" writeTo="common-file"/>
		</rules>
	</nlog>
	<appSettings/>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="DTMembershipProviderSqlServer" connectionString="server=PHEONIX\PHEONIX;database=DTMembershipProvider;Uid=DTMembershipProviderUser;PWD=bond007"/>
		<add name="eStoreConnectionString" connectionString="server=PHEONIX\PHEONIX;database=eStore;UID=eStoreUser;PWD=bond007;MultipleActiveResultSets=True"/>
	</connectionStrings>
	<system.web>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="3600000">
				<databases>
					<add name="eStore" connectionStringName="eStoreConnectionString" pollTime="3600000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
		<!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
      -->
		<membership defaultProvider="DTMembershipProvider">
			<providers>
				<clear/>
				<!--passwordFormat="Clear"-->
				<add name="DTMembershipProvider" type="com.phoenixconsulting.AspNet.Membership.DTMembershipProvider" connectionStringName="eStoreConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" applicationName="eStore" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" passwordAttemptWindow="10"/>
			</providers>
		</membership>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="eStoreAuth" timeout="30" loginUrl="~\Profile\Login.aspx" slidingExpiration="false"/>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
		<customErrors mode="Off" defaultRedirect="Error.aspx">
			<error statusCode="404" redirect="PageNotFound.aspx"/>
		</customErrors>
    <httpHandlers>
    </httpHandlers>
		<httpModules>
			<add name="ThemeModule" type="HowTos.ThemeModule"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<applicationSettings>
		<eStoreWeb.Properties.Settings>
   <setting name="diggURLPrefix" serializeAs="String">
    <value>http://digg.com/submit?phase=2&amp;url=</value>
   </setting>
   <setting name="googleURLPrefix" serializeAs="String">
    <value>http://www.google.com/bookmarks/mark?op=edit&amp;output=popup&amp;bkmk=</value>
   </setting>
   <setting name="emailURLPrefix" serializeAs="String">
    <value>mailto:?subject=</value>
   </setting>
   <setting name="ModeAirMail" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="ModeExpressAirMail" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="AustralianCurrencyID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CustomCacheDuration" serializeAs="String">
    <value>7200</value>
   </setting>
   <setting name="CCAuthTarget" serializeAs="String">
    <value>CCAuth.aspx?pageid=process&amp;server=test&amp;requestType=payment&amp;ID=</value>
   </setting>
   <setting name="ContactUsMailTo" serializeAs="String">
    <value>ContactUs@PetsPlayground.com.au</value>
   </setting>
   <setting name="FromEmailAddress" serializeAs="String">
    <value>customerservice@petsplayground.com.au</value>
   </setting>
   <setting name="OrderConfirmationSalutation" serializeAs="String">
    <value>Hi </value>
   </setting>
   <setting name="OrderConfirmationClosing" serializeAs="String">
    <value>Regards,

</value>
   </setting>
   <setting name="OrderConfirmationOpening" serializeAs="String">
    <value>Thank you for your order.

    </value>
   </setting>
   <setting name="deliciousURLPrefix" serializeAs="String">
    <value>http://www.delicious.com/post?url=</value>
   </setting>
   <setting name="redditURLPrefix" serializeAs="String">
    <value>http://www.reddit.com/submit?url=</value>
   </setting>
  </eStoreWeb.Properties.Settings>
	</applicationSettings>
</configuration>