<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="phoenixconsulting.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <phoenixconsulting.Common.Properties.Settings>
            <setting name="FromEmailAddress" serializeAs="String">
                <value>customerservice@petsplayground.com.au</value>
            </setting>
            <setting name="OrderConfirmationSalutation" serializeAs="String">
                <value>Hi </value>
            </setting>
            <setting name="OrderConfirmationOpening" serializeAs="String">
                <value>Thank you for your order.

</value>
            </setting>
            <setting name="OrderConfirmationClosing" serializeAs="String">
                <value>Regards,

</value>
            </setting>
            <setting name="ModeExpressAirMail" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ModeAirMail" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AustralianCurrencyID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AustraliaCountryID" serializeAs="String">
                <value>7</value>
            </setting>
        </phoenixconsulting.Common.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
