<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhoenixConsulting.PaymentService.PayPal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="phoenixconsulting.PaymentService.PayPal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PhoenixConsulting.PaymentService.PayPal.Properties.Settings>
            <setting name="phoenixconsulting_PaymentService_PayPal_com_paypal_sandbox_www_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
            <setting name="DomainTransformations_PaymentService_PayPal_com_paypal_sandbox_www_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
        </PhoenixConsulting.PaymentService.PayPal.Properties.Settings>
        <phoenixconsulting.PaymentService.PayPal.Properties.Settings>
            <setting name="phoenixconsulting_PaymentService_PayPal_com_paypal_sandbox_www_PayPalAPIInterfaceService" serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
        </phoenixconsulting.PaymentService.PayPal.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
