<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eStoreBLL.Properties.Settings.connString" connectionString="Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;User ID=eStoreUser;Password=bond007"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
