<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eStoreDAL.Properties.Settings.eStoreConnectionString" connectionString="Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;Persist Security Info=True;User ID=eStoreUser;Password=bond007" providerName="System.Data.SqlClient"/>
        <add name="eStoreDAL.Properties.Settings.eStoreConnectionString1" connectionString="Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;User ID=sa;Password=bond007" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
